#clock {
    
}

#clock img {
    position: absolute;
}

#hour {
    position: relative;
    transform: rotate(360);
}

#minute {
    position: relative;
    transform: rotate(360);
}

#second {
    position: relative;
    transform: rotate(360);
}
